{
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prettier/prettier": "error",
    "react/prop-types": "off",
    "react/destructuring-assignment": "off",
    "jsx-a11y/anchor-is-valid": "warn",
    "comma-dangle": "off",
    "lines-between-class-members": "off",
    "arrow-body-style": "off",
    "react/jsx-props-no-spreading": "off",
    "object-curly-newline": "off",
    "import/prefer-default-export": "off",
    "no-restricted-syntax": "off",
    "arrow-parens": "off",
    "camelcase": "off"
  },
  "globals": {
    "document": "readonly",
    "window": "readonly"
  }
}
