.movie-mosaic {
  width: 100%;
  background-color: white;
  height: 300px;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #854c57;
    opacity: 0.85;
    color: white;
    padding: 5px;
    height: 100px;

    .overview {
      font-size: 12px;
      line-height: 18px;
    }
  }
}
