.movie-mosaic {
  width: 100%;
  background-color: white;
  height: 300px;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
  }

  .fav {
    position: absolute;
    top: 1px;
    right: 1px;
  }
  .list {
    position: absolute;
    top: 24px;
    right: 4px;

    div {
      font-size: 20px;
      height: 20px;
      width: 20px;
      line-height: 15px;
      border: 1px solid;
      text-align: center;
      &:hover {
        background-color: white;
      }
    }
    div.rm {
      background-color: white;
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #854c57;
    opacity: 0.85;
    color: white;
    padding: 5px;
    height: 100px;

    .overview {
      font-size: 12px;
      line-height: 18px;
    }
  }
}
