$secondry-layout: rgba(var(--secondry-layout), 1);

header.site-header {
  position: relative;
  height: 70px;
  border-bottom: 1px solid $secondry-layout;
  h2 {
    color: $secondry-layout;
    position: absolute;
    top: 14px;
    left: 20px;
  }
}
