$secondry-layout: rgba(var(--secondry-layout), 1);

header.site-header {
  position: relative;
  height: 80px;
  border-bottom: 1px solid $secondry-layout;
  h2 {
    position: absolute;
    top: 14px;
    left: 20px;
    z-index: 100;
    a {
      color: $secondry-layout;
      text-decoration: none;
    }
  }
  @media screen and (max-width: 1544px) {
    height: 140px;
    h2 {
      left: calc(50% - 100px);
      margin: 0 auto;
    }
    .search-container {
      padding-top: 70px;
    }
  }
}

.search-container {
  padding-top: 10px;
}
