.search-term {
  width: 100%;
  padding: 5px;
  height: 45px;
  outline: none;
  color: #000;
}

.search-term:focus {
  color: rgba(var(--secondry-layout), 1);
}

.search-container {
  position: relative;
}

.btn-container {
  position: absolute;
  top: 18px;
  right: 10px;

  button {
    border: 1px solid rgba(var(--secondry-layout), 1);
    background-color: white;
    color: rgba(var(--secondry-layout), 1);
    outline: none;

    &:hover {
      color: white;
      background-color: rgba(var(--secondry-layout), 1);
    }
  }

  @media screen and (max-width: 1544px) {
    top: 78px;
  }
}
