.movie-title {
  h1 {
    color: white;
  }
}

.movie-details {
  h3 {
    color: #ff9797;
  }
  p {
    color: whitesmoke;
  }

  .rating {
    background-image: url('https://m.media-amazon.com/images/G/01/imdb/images/title/title_overview_sprite-1705639977._V_.png');
    background-repeat: no-repeat;
    background-position: -15px -118px;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    padding: 2px 0 0 34px;
    width: 58px;
    color: #e4bc25;
  }
  .voter {
    height: 40px;
    color: white;
    font-size: 20px;
    line-height: 40px;
    background-size: contain;
  }
  .imdb-img {
    width: 180px;
    margin-left: -20px;
  }
}
